# dependencies
node_modules/
.pnpm-store/

# next.js
.next/
out/
build/
dist/

# expo / react native
.expo/
apps/mobile/ios/
apps/mobile/android/

# env
.env
.env*.local

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# editor / os
.DS_Store
.vscode/
.idea/

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
